<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/f328f754d3.js"></script>
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        th, td {    border: 1px solid; }
        th {    font-weight : bold }
    </style>


</head>
<body>



</body>
</html>
